html, body {
    height: 100%;
  }

  body {
    min-width: 50px;
}
  
  a:link { color: blue; }
  a:visited { color: red; }
  a:hover { color: lightgreen; }
  a:active { color: blue; }
  

/* white space on top of header is removed. padding increase. problem needs to be addressed. */
  header {
    background-color: darkolivegreen;
    text-align: center;
    color: white;
    padding:5px 0px 0px 0px;
  }
  
  header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
  }
  
  h2 {
    font-family: verdana;
    text-align: center;
  }

  p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  nav {
     font-family: verdana;
  }
  
  main {
  
    background-color: beige;
    padding: 20px 25px;
    border-color: beige;
    /*min-width: 50px;*/
    
  }



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  

/* this hr css will make the hr a square pointed up*/
  hr {
    width: 10px;
    height: 10px;
    border: none;
    background: black;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: rotate(45deg);
  }
  
/*.list-inside li {
    list-style-position: inside;
}*/

div.parent {
    text-align: center;
}
/*code for ul and ol allow for text to be centered but stay inline. remember for future use*/
ul {
    display: inline-block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

ol {
    display: inline-block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.list-inside li {
    list-style-position: inside;
}

/* for some reason footer was not adjusting properly and there was white space between body and footer. footer padding was added to compensate for white space.
need to go back and look at why the background color wasnt reflecting properly. 
*/

  footer {
  background-color: darkolivegreen;
    color: white;
  text-align: center;
  border-color: darkolivegreen;
    margin: auto;
    padding:10px 0px 0px 0px;
  
  }

  img {
    border-radius: 25%;
  }